.header {
	padding: 62px 0 136px;
	background: rgb(255, 255, 255);
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo_link {
	margin-right: 121px;
}

.header__menu {
	display: flex;
	align-items: center;
	gap: 41px;
}

.header__menu_link {
	color: rgb(0, 0, 0);
	font-size: 21px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 3%;
	text-align: left;
}

.header__download {
	width: 191.6px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: none;
	background: rgb(255, 99, 0);
	color: rgb(255, 255, 255);
	font-size: 21px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 3%;
	text-align: justify;
	cursor: pointer;
}
