.testimonials {
	margin-bottom: 138px;
}

.testimonials_title {
	color: rgb(0, 0, 0);
	font-size: 65px;
	line-height: 98px;
	letter-spacing: 3%;
	text-align: center;
	margin-bottom: 15px;
}

.testimonials_description {
	width: 932px;
	color: rgb(0, 0, 0);
	font-size: 21px;
	line-height: 32px;
	letter-spacing: 3%;
	text-align: center;
	margin: 0 auto 71px;
}

.testimonials_item {
	width: 100%;
	max-width: 1087px;
	position: relative;
	padding: 55px 77px 55px 48px;
	display: flex;
	align-items: center;
	gap: 11px;
	transition: transform 0.3s ease, opacity 0.3s ease;
	border-radius: 14px;
	background: rgb(248, 248, 248);
}

.activeItem {
	transform: scale(1.1);
	opacity: 1;
	z-index: 2;
	background-color: #f8f8f8;
}

.prevItem,
.nextItem {
	transform: scale(0.9);
	opacity: 0.3;
	z-index: 1;
}

.inactiveItem {
	transform: scale(0.8);
	opacity: 0.1;
	z-index: 0;
}

.testimonials_item_image {
	display: block;
	width: 235px;
	height: 235px;
}
.testimonials_item_text {
	position: relative;
	color: rgb(66, 66, 66);
	font-size: 21px;
	line-height: 32px;
	letter-spacing: 3%;
	text-align: justify;
}
.testimonials_item_name {
	color: rgb(0, 0, 0);
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: 3%;
	text-align: justify;
	padding-left: 5px;
}
.testimonials_marks {
	font-style: italic;
	color: rgb(253, 111, 0);
	font-size: 32px;
	font-weight: 500;
	line-height: 48px;
	letter-spacing: 2%;
	text-align: justify;
	transform: rotate(180deg);
}

.testimonials_item_position {
	color: rgb(0, 0, 0);
	font-size: 19px;
	line-height: 29px;
	letter-spacing: 2%;
	text-align: justify;
	padding-left: 5px;
}

.testimonials_marks:first-child {
	position: absolute;
	top: -36px;
	left: 0px;
}
.testimonials_marks:last-child {
	position: absolute;
	bottom: -10px;
	right: 113px;
}
.testimonials_item_description {
	display: block;
	padding-left: 5px;
	text-align: justify;
}

/* Куля пагінації */
.paginationBullet {
	width: 12px; /* Ширина кулі */
	height: 12px; /* Висота кулі */
	background: rgb(66, 66, 66); /* Колір кулі */
	opacity: 0.7; /* Прозорість кулі */
	transition: background 0.3s, opacity 0.3s; /* Анімація при зміні кольору */
	border-radius: 50%; /* Робимо кулю круглою */
}

/* Куля пагінації при активному стані */
.paginationBulletActive {
	background: rgb(66, 66, 66);
	background: rgb(253, 111, 0); /* Колір активної кулі */
	opacity: 1; /* Оповненість активної кулі */
}
